body {
  margin: 0;
}

.flex__column {
  display: flex;
  flex-direction: column;
}

.flex__row {
  display: flex;
  flex-direction: row;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: medium;
  text-align: center;
}

.titres {
  font-family: "Shrikhand", cursive;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-weight: bold;
  padding: 2rem 0 1rem 1rem;
}

h3 {
  padding-left: 1rem;
  font-size: 1.4rem;
  font-weight: bold;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  margin: 0;
}

p {
  margin: 0;
}

.liste__text h3 {
  font-size: 1.1rem;
}
.liste__text p {
  font-size: 0.8rem;
  padding-left: 1rem;
}

.btn {
  margin-bottom: 3rem;
}
.btn input {
  height: 2.5rem;
  width: 12rem;
  font-weight: 500;
  border-radius: 100rem;
  border: none;
  color: #ffffff;
  padding: 0.5rem;
  margin-top: 1rem;
  background: linear-gradient(#FF79DA, #9356DC 105%);
}

.header_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  padding: 0.8rem 0;
}

.about {
  color: #ffffff;
  background-color: #353535;
  padding-bottom: 1.5rem;
}
.about h2 {
  margin: 0;
  padding: 1rem 2.5rem 0;
  font-size: 1.3rem;
}
.about li {
  text-align: left;
}
.about li i {
  padding: 0 0.5rem 0.5rem 0;
}
.about li a {
  color: #ffffff;
}

.presentation {
  background-color: #f6f6f6;
  border-radius: 0;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}
.presentation__local {
  background-color: #eaeaea;
  width: 100%;
}
.presentation__local form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 3rem;
  height: 3rem;
  box-shadow: inset 0 2px 5px 0 #bdbdbd;
}
.presentation__local form > span {
  padding-right: 1rem;
}
.presentation__local input {
  border: none;
  font-size: 1.2rem;
  font-weight: 600;
  height: auto;
  background-color: transparent;
}

.presentation h2 {
  font-size: 1.5rem;
  padding: 1rem 1.5rem 0.8rem;
  margin: 0;
}

.presentation p {
  font-size: 1rem;
  padding: 0.2rem 0;
  margin: 0;
}

.function {
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0.5rem 0 1rem 0;
  justify-content: flex-start;
  align-items: flex-start;
}
.function__global {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.function li::before {
  content: "";
  background-color: #9356DC;
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
  position: relative;
  left: -0.6rem;
  z-index: 1;
}

.function__use {
  background-color: #f6f6f6;
  border-radius: 20px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 0.15rem 0.15em 0.8rem 0.1rem #cccccc;
  font-weight: 500;
  font-size: 0.9rem;
  margin: 0.7rem 0;
  height: 4rem;
  position: relative;
  width: 90%;
  z-index: -1;
}
.function__use span {
  opacity: 60%;
  padding-right: 1rem;
}

.menu {
  flex-wrap: wrap;
  padding-bottom: 3rem;
  background-color: #f6f6f6;
  border-radius: 0, 20px, 50%;
  height: auto;
}
.menu__card {
  margin: 0.5rem;
  background-color: #ffffff;
  border-radius: 20px;
  height: auto;
  height: 14rem;
}
.menu__card__link {
  flex-wrap: wrap;
}

.menu__card__img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
  object-position: 50% 63%;
  margin-bottom: 0.5rem;
}

.menu span {
  position: relative;
  z-index: 2;
  left: 85%;
  bottom: 35px;
  width: 2rem;
}
.menu span i {
  font-size: 1.4rem;
  text-align: right;
  opacity: 60%;
}

.menu__card__text {
  margin: 0;
  padding: 0.2rem 0 0 0.8rem;
  text-align: left;
  z-index: 1;
}
.menu__card__text {
  color: black;
  font-size: 1.1rem;
}

.header_logo {
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}
.header_logo h1 {
  padding-right: 3rem;
}

.liste__underline {
  border-bottom: 2px solid #99E2D0;
  width: 10%;
  padding: 0;
  font-weight: 400;
  font-size: 1.2rem;
  margin-left: 1rem;
}

.liste__menu {
  background-color: #f6f6f6;
  border-radius: 30px;
  height: auto;
  text-align: left;
  z-index: 1;
  position: relative;
  top: -2.5rem;
}
.liste img {
  width: 100%;
  position: relative;
  z-index: -1;
}
.liste article {
  background-color: #ffffff;
  border-radius: 20px;
  height: auto;
  height: 3rem;
  margin: 0.5rem;
  position: relative;
}

.liste__text {
  padding: 0.5em 0.5rem;
}
.liste__text span {
  font-weight: bold;
  position: absolute;
  z-index: 1;
  right: 20px;
}
.liste__text span:active {
  transition: transform 1s;
  transform: rotate(45deg) translateX(-60px);
}
.liste__text span:active ::after {
  content: "";
  border-right: none;
  border-radius: 0 20px 20px 0;
  position: absolute;
  z-index: -1;
  background: #99E2D0;
  width: 40px;
  height: 2.5rem;
  padding: 0.5em 0.5rem;
  right: -80px;
  top: -30px;
}

.liste__check i {
  font-size: 1.5rem;
  color: #ffffff;
  right: 60px;
  transform: rotate(0);
}
.liste__check::after {
  position: absolute;
  right: -60px;
  background: #99E2D0;
  width: 40px;
  height: 2.5rem;
  transform: translateX(60px);
}

/*# sourceMappingURL=styles.css.map */
