@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/placeholders";

@import "./base/base";
@import "./base/typography";

@import "./composants/buttons";
@import "./composants/nouveau";

@import "./layout/header";
@import "./layout/footer";

@import "./pages/accueil";
@import "./pages/menu";