@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/placeholders";

@import "./base/base";
@import "./base/typography";

@import "./composants/buttons";

@import "./layout/header";
@import "./layout/footer";

@import "./pages/accueil";
@import "./pages/menu";

.flex__column{
    display: flex;
    flex-direction: column;
}

.flex__row{
    display: flex;
    flex-direction: row;
}


 //presentation, barre de localisation
.presentation{
    @include card($color-back,0); 
    @include flexMid;
    flex-wrap: wrap;
    text-align: center;
    &__local{
        background-color: $color-back;
        width: 100%;
            & form{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 3rem;
                border-left: none;
                box-shadow: inset rgb(189, 189, 189)  0px 2px 0px;
                & > span{
                    padding-right: .2rem;
                }
            }
            & input{
                border: none;
                font-size: 1rem;
                font-weight: 600;
                height: auto;
                background-color: transparent;
            }
    }
}
.presentation h2{
    padding: .8rem 0;
    margin: 0;
}
.presentation p{
    font-size: 1rem;
    padding: .2rem 0;
    margin: 0;
}
//bouton
.btn{
    margin-bottom: 3rem;
    & input{
        height: 2.5rem;
        width: 12rem;
        font-weight: 500;
        border-radius: 100rem;
        border: none;
        color: $color-base;
        padding: .5rem;
        margin-top: 1rem;
        background: linear-gradient($color-secondary, $color-primary 105%);
    }

}
//fonction
.function{
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 1rem 0;
    li{
        &::before{
            content: '';
            background-color: $color-primary;
            border-radius: 50%;
            width: 1.2rem;
            height: 1.2rem;
            position: relative;
            left: -1.4rem;
            z-index: 1;
        }
    }
}
.function__use{
    @include card($color-back, $bord:20px);
    @include flexMid;
    box-shadow: .1rem .1rem .2rem .1rem rgb(204, 204, 204);
    font-weight: 500;
    font-size: .9rem;
    margin: .7rem 0;
    height: 4rem;
    padding-right: 3rem;
    position: relative;
    width: 90%;
    z-index: -1;
        & span{
        opacity: 60%;
        padding-right: 1rem;
    }
}
//menu
.menu{
    flex-wrap: wrap;
    padding-bottom: 4rem;
    @include card($color-back);
        & > h3{
            margin: 2rem 0 1rem;
        }
        &__card{
        flex-wrap: wrap;
        justify-content: space-between;
        margin: .5rem 1rem;
        @include card($bord:20px);
            &__link{
                flex-wrap: wrap;
            }
          }
}
.menu__card__img{
    @include card-img;
} 
.menu span{
    position: relative;
    z-index: 2;
    left: 85%;
    bottom: 35px;
    width: 2rem;
    & i{   
        font-size: 1.4rem;
        text-align: right;
    }
}

.menu__card__text{
    font-size: 1rem;
    margin: 0;
    padding: .5rem 0 .2rem .5rem;
    width: 70%;
    text-align: left;
    z-index: 1;
}