.about{
    color: $color-base;
    background-color: $color-footer;
    padding-bottom: 1.5rem;
    h2{
        margin: 0;
        padding: 1rem 2.5rem 0;
        font-size: 1.3rem;
    }
    li{
        text-align: left;
        & i{
            padding: 0 .5rem .5rem 0;
        }
        & a{
            color: $color-base;
        }
    }
}