.about{
    text-align: left;
    color: $color-base;
    background-color: $color-footer;
    padding-bottom: 1.5rem;
    padding-left: 2.5rem;
    h2{
        padding: 1rem 0;
    }
    ul{
        @include flexMid;
        flex-direction: column;
        align-items: flex-start;
    }
    li{
        & i{
            padding: 0 .5rem .5rem 0;
        }
        & a{
            color: $color-base;
        }
    }
}
@media screen and (min-width: map-get($breakpoints, tablet)){
    .about{
        ul{
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            width: 95%;
        }
    }
}
@media screen and (min-width: map-get($breakpoints, destock)){
    .about{
        ul{
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            width: 80%;
        }
    }
}