*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.flex__column{
    display: flex;
    flex-direction: column;
}

.flex__row{
    display: flex;
    flex-direction: row;
}
.titles__icon{
    display: flex;
    justify-content: space-between;
   span{
       margin-right: 4%;
   }
}

.list{
    &__underline{
        border-bottom: 2px solid $color-tertiary;
        width: 10%;
        padding: 0;
        margin: 1rem;
    }
    .btn{
        padding: .8rem 2rem;
    }

}