*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.flex__column{
    display: flex;
    flex-direction: column;
}

.flex__row{
    display: flex;
    flex-direction: row;
}
.titles__icon{
    display: flex;
    justify-content: space-between;
   span{
       margin-right: 10%;
   }
}
.list{
    &__underline{
        margin-bottom: 0;
        &::after{
            width: 50px;
            padding: 0;
        }
    }
    .btn{
        padding: .8rem 2rem;
    }

}
