body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: medium;
    text-align: center;
}

.titres{
    font-family: 'Shrikhand', cursive;
    i{
        font-weight: 400;
        color: grey;
    }
}
h1{
    font-size: 2rem;
}
h2{
    font-weight: bold;
    padding: 2rem 0 1rem 1rem;
}
h3{
    padding-left: 1rem;
    font-size: 1.4rem;
    font-weight: bold;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
h1, h2, h3{
    margin: 0;
}
p{
    margin: 0;
}
.liste__text{
    h3{
        font-size: 1rem;
    }
    p{
        font-size: 0.8rem;
        padding-left: 1rem;
    }
}
.liste__underline{
    font-weight: 400;
    font-size: 1.2rem;
}
button{
    font-weight: 500;
    font-size: 1rem;
}
form{
    text-align: center;
}