body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.titres{
    font-family: 'Shrikhand', cursive;
}
h1{
    font-size: 2rem;
}
h2, h3{
    font-size: 1.4rem;
    font-weight: bold;
}
h3{
    padding-left: 1rem;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
h1, h2, h3{
    margin: 0;
}