//load screen
.content{ 
    opacity: 0;
    animation: fade-in 3.5S ease  1 forwards;
    animation-delay: 3s;
}
.loader{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: $color-base;
    position: absolute;
    text-align: center;
    opacity: 0;
    animation: fade-in 3.5S ease  1 forwards reverse;
    animation-delay: 1s;

    h1{
        position: absolute;
        color: black;
        font-size: 4rem;
        top: 70%;
        left: 0;
        right: 0; 
        bottom: 0;
        opacity: 0;
        animation: up 2.5s  linear forwards;
        animation-delay: 1s;
    }
    &>div{
        @include flexMid;
        width: 100px;
        height: 100px;
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0; 
        bottom: 0;
        .plate{
            position: absolute;
            color:$color-shadow;
            font-size: 2rem;
            animation: down 2.5s forwards;
            animation-delay: 1.5s;
        }
        .circle{
            width: 100%;
            position: relative;
            top: 60%;
            bottom: 0;
            background: $color-deg;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-position: left;
            font-size: 3rem;
            opacity: 0;
            animation: down-rot 2.5s linear forwards;
            animation-delay: 1.3s;
           
        }
    }
    &::after{
        content:"";
        position: relative;
        top: 0;
        left: 0;
        right: 0; 
        bottom: 0;
        border: 15px solid #535353;
        width: 100px;
        height: 100px;
        border-top-color: $color-tertiary;
        padding: 50px;
        border-image-slice: 9;
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0; 
        bottom: 0;
        border-radius: 50%;
        animation: spin 1.8s linear forwards;
        animation-timing-function: steps(500, end);
       
    }
}

@keyframes spin {
    0%{
        transform: rotate(-1turn);
        opacity: 1;

    }
    100%{ 
        transform: rotate(1turn); 
        opacity: 0;
    }
}
@keyframes down {
    0%{
        transform: translateY(-50%);
        opacity: 1;
    }
    100%{
        transform: translateY(550%);
        opacity: 0;
    }
}

@keyframes down-rot {
    0%{
        transform: translateY(100%);
        opacity: 0;
        transform: rotateZ(45deg);
    }
    50%, 100%{
        transform: translateY(-100%);
        transform: rotateZ(90deg);
        opacity: 1;
    }
}

@keyframes up {
    0%{
        transform: scaleY(0);
        transform: translateY(0%);
        opacity: 0;
    }
    100%{
        transform: scaleY(1);
        transform: translateY(-80%);
        opacity: 1;
    }
}

@keyframes fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
//presentation, barre de localisation
 .presentation{
    @include card($color-back); 
    @include flexMid;
    flex-wrap: wrap;
    text-align: center;
    &__local{
        background-color: $color-shadow;
        width: 100%;
            & form{
                display: flex;
                justify-content: center;
                align-items: center;
                padding-left: 3rem;
                height: 3rem;
                box-shadow: inset 0 2px 5px 0 rgb(189, 189, 189);
                & > span{
                    padding-right: 1rem;
                }
            }
            & input{
                border: none;
                font-size: 1.2rem;
                font-weight: 600;
                height: auto;
                background-color: transparent;
            }
    }
}
.presentation h2{
    font-size: 1.5rem;
    padding: 1rem 1.5rem .8rem;
    margin: 0;
}
.presentation p{
    font-size: 1rem;
    padding: .2rem .5rem;
    margin: 0;
}

//fonction
.function{
    flex-direction: row;
    flex-wrap: wrap;
    margin: .5rem 0 1rem 0;
    justify-content: flex-start;
    align-items: flex-start;
    &__global{
        @include flexMid;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    ol{
        justify-content: center;
        counter-reset: li;
    }
    li::before{
            content: counter(li);
            counter-increment: li;
            color: $color-base;
            @include flexMid;
            background-color: $color-primary;
            border-radius: 50%;
            width: 1.5rem;
            height: 1.5rem;
            position: relative;
            left: -.6rem;
            z-index: 1;
        }
}
.function__use{
    @include card($color-primary, $bord: map-get($bord-rad, card-card));
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-shadow: $shadow;
    font-weight: 500;
    font-size: .9rem;
    margin: .7rem 0;
    height: 4rem;
    position: relative;
    width: 90%;
    cursor: pointer;
    opacity: 1;
    z-index: 1;
    &:hover {
        &::after{
            opacity: .9;
            box-shadow: $bg-shadow;
        }
        & i{
            color: $color-primary;
        }
    }  
}
.function__use{
    & span{
        color: grey;
        padding-right: 1rem;
        }
    &::after{
        position: absolute;
        content: "";
        border-radius: map-get($bord-rad, card-card);
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: -1;
        background-color: $color-base;
        opacity: 1;
        transition: opacity 250ms;
    }
}
//menu
.menu{
    flex-wrap: wrap;
    padding-bottom: 3rem;
    text-align: left;
    justify-content: center;
    @include card($color-back);
        &__card{
        margin: .5rem;
        @include card ($bord: map-get($bord-rad, card-card));
        height: 14rem;
            &__link{
                flex-wrap: wrap;
            }
          }
}

.menu__card__img{
    @include card-img;
    margin-bottom: .5rem;
} 
.menu span{
    position: relative;
    z-index: 2;
    left: 85%;
    bottom: 35px;
    width: 2rem;
    & i{   
        font-size: 1.4rem;
        text-align: right;
        opacity: 60%;
    }
}

.menu__card__text{
    margin: 0;
    padding: .2rem 0 0 .8rem;
    text-align: left;
    z-index: 1;
    &{
        color: black;
        font-size: 1.1rem;
    }
}


.heart{
    @include flexMid;
    position: absolute;
    z-index: -2;
    
&__empty{
    position: absolute;
    z-index: 1;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    color: gray;
    transform-origin: top;
    transform: scaleY(1);
    
}
&__full{
        background-image: $color-deg;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        position: relative;
        z-index: -1;
        bottom: 0;
        top: 0;
        right: 0;
        left: 15%;
        opacity: 0;
        transform: scaleY(0);
        
}
    &:active > .heart{
        &__empty{
            animation: heart-progress 1s ease-in-out forwards ;
            animation-duration: 900ms;
        }
        &__full{
            animation: heart-progress-full 1s ease-in-out forwards;
            animation-duration: 1000ms;
        }
           
    }
}

@keyframes heart-progress{
0%{
    transform: scaleY(1.0);
  }
  100%{
    transform:scaleY(0.5);
    opacity: 0;
  }
}
@keyframes heart-progress-full{
0%{
    transform: scaleY(0.5);
  
  }
  100%{
    transform:scaleY(1.0);
  
    opacity: 1;
  }
}
