 //presentation, barre de localisation
 .presentation{
    @include card($color-back); 
    @include flexMid;
    flex-wrap: wrap;
    text-align: center;
    &__local{
        background-color: $color-shadow;
        width: 100%;
            & form{
                display: flex;
                justify-content: center;
                align-items: center;
                padding-left: 3rem;
                height: 3rem;
                box-shadow: inset 0 2px 5px 0 rgb(189, 189, 189);
                & > span{
                    padding-right: 1rem;
                }
            }
            & input{
                border: none;
                font-size: 1.2rem;
                font-weight: 600;
                height: auto;
                background-color: transparent;
            }
    }
}
.presentation h2{
    font-size: 1.5rem;
    padding: 1rem 1.5rem .8rem;
    margin: 0;
}
.presentation p{
    font-size: 1rem;
    padding: .2rem .5rem;
    margin: 0;
}

//fonction
.function{
    flex-direction: row;
    flex-wrap: wrap;
    margin: .5rem 0 1rem 0;
    justify-content: flex-start;
    align-items: flex-start;
    &__global{
        @include flexMid;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    ol{

        counter-reset: li;
    }
    li::before{
            content: counter(li);
            counter-increment: li;
            color: $color-base;
            @include flexMid;
            background-color: $color-primary;
            border-radius: 50%;
            width: 1.5rem;
            height: 1.5rem;
            position: relative;
            left: -.6rem;
            z-index: 1;
        }
}
.function__use{
    @include card($color-primary, $bord: map-get($bord-rad, card-card));
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-shadow: $shadow;
    font-weight: 500;
    font-size: .9rem;
    margin: .7rem 0;
    height: 4rem;
    position: relative;
    width: 90%;
    cursor: pointer;
    opacity: 1;
    z-index: 1;
    &:hover {
        &::after{
            opacity: .9;
            box-shadow: $shadow + $shadow;
        }
        & i{
            color: $color-primary;
        }
    }  
}
.function__use{
    & span{
        color: grey;
        padding-right: 1rem;
        }
    &::after{
        position: absolute;
        content: "";
        border-radius: map-get($bord-rad, card-card);
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: -1;
        background-color: $color-base;
        opacity: 1;
        transition: opacity 250ms;
    }
}
//menu
.menu{
    flex-wrap: wrap;
    padding-bottom: 3rem;
    text-align: left;
    @include card($color-back);
        &__card{
        margin: .5rem;
        @include card ($bord: map-get($bord-rad, card-card));
        height: 14rem;
            &__link{
                flex-wrap: wrap;
            }
          }
}

.menu__card__img{
    @include card-img;
    margin-bottom: .5rem;
} 
.menu span{
    position: relative;
    z-index: 2;
    left: 85%;
    bottom: 35px;
    width: 2rem;
    & i{   
        font-size: 1.4rem;
        text-align: right;
        opacity: 60%;
    }
}

.menu__card__text{
    margin: 0;
    padding: .2rem 0 0 .8rem;
    text-align: left;
    z-index: 1;
    &{
        color: black;
        font-size: 1.1rem;
    }
}


.heart{
    @include flexMid;
        position: absolute;
        z-index: -2;
        
    &__empty{
        position: absolute;
        z-index: 1;
        bottom: 0;
        top: 0;
        right: 0;
        left: 0;
        color: gray;
        transform-origin: top;
        transform: scaleY(1);
        
    }
    &__full{
            background-image: $color-deg;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            position: relative;
            z-index: -1;
            bottom: 0;
            top: 0;
            right: 0;
            left: 15%;
            opacity: 0;
            transform: scaleY(0);
            
    }
        &:active > .heart{
            &__empty{
                animation: heart-progress ease-in-out both;
                animation-duration: 900ms;
            }
            &__full{
                animation: heart-progress-full ease-in-out both;
                animation-duration: 1000ms;
            }
               
        }
    }

@keyframes heart-progress{
    0%{
        transform: scaleY(1.0);
      }
      100%{
        transform:scaleY(0.5);
        opacity: 0;
      }
}
@keyframes heart-progress-full{
    0%{
        transform: scaleY(0.5);
      
      }
      100%{
        transform:scaleY(1.0);
      
        opacity: 1;
      }
}
