 //presentation, barre de localisation
 .presentation{
    @include card($color-back,0); 
    @include flexMid;
    flex-wrap: wrap;
    text-align: center;
    &__local{
        background-color: $color-shadow;
        width: 100%;
            & form{
                display: flex;
                justify-content: center;
                align-items: center;
                padding-left: 3rem;
                height: 3rem;
                box-shadow: inset 0 2px 5px 0 rgb(189, 189, 189);
                & > span{
                    padding-right: 1rem;
                }
            }
            & input{
                border: none;
                font-size: 1.2rem;
                font-weight: 600;
                height: auto;
                background-color: transparent;
            }
    }
}
.presentation h2{
    font-size: 1.5rem;
    padding: 1rem 1.5rem .8rem;
    margin: 0;
}
.presentation p{
    font-size: 1rem;
    padding: .2rem 0;
    margin: 0;
}

//fonction
.function{
    flex-direction: row;
    flex-wrap: wrap;
    margin: .5rem 0 1rem 0;
    justify-content: flex-start;
    align-items: flex-start;
    &__global{
        @include flexMid;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    li{
        &::before{
            content: '';
            background-color: $color-primary;
            border-radius: 50%;
            width: 1.2rem;
            height: 1.2rem;
            position: relative;
            left: -.6rem;
            z-index: 1;
        }
    }
}
.function__use{
    @include card($color-back, $bord:20px);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-shadow: .15rem .15em .8rem .1rem rgb(204, 204, 204);
    font-weight: 500;
    font-size: .9rem;
    margin: .7rem 0;
    height: 4rem;
    position: relative;
    width: 90%;
    z-index: -1;
        & span{
        opacity: 60%;
        padding-right: 1rem;
    }
}
//menu
.menu{
    flex-wrap: wrap;
    padding-bottom: 3rem;
    @include card($color-back);
        &__card{
        margin: .5rem;
        @include card($bord:20px);
        height: 14rem;
            &__link{
                flex-wrap: wrap;
            }
          }
}
.menu__card__img{
    @include card-img;
    margin-bottom: .5rem;
} 
.menu span{
    position: relative;
    z-index: 2;
    left: 85%;
    bottom: 35px;
    width: 2rem;
    & i{   
        font-size: 1.4rem;
        text-align: right;
        opacity: 60%;
    }
}

.menu__card__text{
    margin: 0;
    padding: .2rem 0 0 .8rem;
    text-align: left;
    z-index: 1;
    &{
        color: black;
        font-size: 1.1rem;
    }
}