.header_logo{
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    & h1{
        padding-right: 3rem;
    }
    i{
        color: black;
    }
}
.liste{
    @include card($color-back);
    position: relative;
    width: 100%;
    z-index: 1;
    &__menu{
        @include card($color-back,  $bord: map-get($bord-rad, menu-card));
        text-align: left;
        z-index: 1;
        padding: 1rem;
        position: relative;
        top: -2.5rem;
    }
    & img{
        width: 100%;
        position: relative;
        z-index: -1;
        height: 250px;
        object-fit: cover;
        object-position: 50% 63%;
    }
    & article{
        @include card($bord: map-get($bord-rad, card-card));
        box-shadow: $shadow;
        height: 4rem;
        padding: .5rem .5rem;
        margin-bottom: .8rem;
        width: 95%;
        
    }
}

.liste{
    &__text{
        @include flexMid;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        flex-direction: column;
        width: 0;
        position:relative;
        z-index: -1;
        transform-origin: right;
    &__ellips{
      width: 85%;
      height: auto;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        
        }
    &__price{
      text-align: left;
      justify-content: flex-end;
      align-items: flex-end;
      font-weight: bold;
    
    
    
  }
    }
    &__check{
        @include flexMid;
        position:absolute;
        width: 60px;
        opacity: 0;
        z-index: 1;
        bottom: 0;
        top: 0;
        right: 0;
        i{
            color: $color-base;
            z-index: 1;
            transform-origin: center;
            font-size: 1.5rem; 
            }
        &::after{
                content: "";
                border-radius: 0 20px 20px 0;
                position: absolute;
                z-index: -1;
                background: $color-tertiary;
                width: 60px;
                height: 100%;
                right: 0;
                top: 0;
                bottom: 0;
           }
    }
}

.slid{
      &__in{
        cursor: pointer;
        transform-origin: top;
        overflow: hidden;
        opacity: 0;
        animation: slidein $anim-dur forwards ease-in-out;
        @for $i from 1 through $num-cards {
          &--#{$i} {
            animation-delay: $anim-delay *  $i;
        }
      }
    }
  &:hover{
    .liste{
      &__in{
        @for $d from 1 through $num-cards {
          &--#{$d} {
            animation-delay: $anim-delay *  $d;
        &__ellips{
          width: 60%;
        }
        &__price{
          animation: slid $anim-dur;
          padding-right: 20px;
        }
        &__check{       
                 animation: slid $anim-dur;
                 animation-delay: 400ms;
             i{
               animation: rot $anim-dur;
               animation-delay: 200ms;
             }
           } 
      }
        }
      }
    }
    }

  }
  
  @keyframes slidein {
    0% { transform: scaleY(0);
    transform: translateY(100%); }
    20%{
      transform: scaleY(0.4);
      transform: translateY(100%);
    }
    80%{
      transform: scaleY(0.8);
      transform: translateY(0%);
    }
    100%   { 
        opacity: 1;
        transform: scaleY(1);
}
  }

  @keyframes rot{
    0%{
      transform: rotate(-1turn);
    }
    100%{
      transform: rotate(1turn);
    }
  }
  
  @keyframes slid{
    0%{
      transform: translateX(100%);
    }
    100%{
      transform: translateX(0%);
      opacity: 1;
    }
  }
