.header_logo{
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    & h1{
        padding-right: 3rem;
    }
    i{
        color: black;
    }
}
.list{
    @include card($color-back);
    position: relative;
    width: 100%;
    z-index: 1;
    &__menu{
        @include card($color-back,  $bord: map-get($bord-rad, menu-card));
        text-align: left;
        z-index: 1;
        padding: 1rem;
        position: relative;
        top: -2.5rem;
    }
    & img{
        width: 100%;
        position: relative;
        z-index: -1;
        height: 250px;
        object-fit: cover;
        object-position: 50% 63%;
    }
    & article{
        @include card($bord: map-get($bord-rad, card-card));
        box-shadow: $shadow;
        height: 4rem;
        padding: .5rem .5rem;
        margin-bottom: .8rem;
        width: 100%;
        @include flexMid;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        flex-direction: column;
        position: relative;
    }
}

.list{
    &__text{
      position: relative;
      overflow: hidden;
      cursor: pointer;
      transform-origin: right;
    &__ellips{
      width: 85%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; 
        }
    &__price{
      text-align: left;
      justify-content: flex-end;
      align-items: flex-end;
      font-weight: bold;
      position: relative;
      z-index: 1; 
  }
    }
    &__check{
      @include flexMid;
      position: absolute;
      z-index: 1;
      width: auto;
      text-align: center;
      right: 0;
      top: 0;
      bottom: 0;
      transform: translateX(100%);
        i{
          position: absolute;
          color: $color-base;
          z-index: 3;
          transform-origin: center;
          font-size: 1.5rem; 
            }
        &::after{
              content: "";
              border-radius: 0 20px 20px 0;
              position: relative;
              z-index: 2;
              background: $color-tertiary;
              width: 3rem;
              height: 4rem;
              right: 0;
              top: 0;
              bottom: 0;
           }
    }
}

.slid{
      &__in{
        cursor: pointer;
        transform-origin: top;
        overflow: hidden;
        opacity: 0;
        animation: slidein $anim-dur forwards ease-in-out;
        @for $i from 1 through $num-cards {
          &--#{$i} {
            animation-delay: $anim-delay *  $i;
        }
      }
    }
    }
    .list{
      &__in{
        overflow: hidden;
        @for $d from 1 through $num-cards {
          &:hover>&--#{$d} {
            animation: slid 800ms ease-in-out .1s alternate-reverse both;
            animation-play-state: running,  paused;
            i{
              animation: rot 600ms ease-in-out .2s alternate-reverse both;
            }
            &__ellips{
              width: 65%;
            }
          }
      }
    }
    } 
  
  
@keyframes slidein {
  0% { transform: scaleY(0);
  transform: translateY(100%); }
  20%{
    transform: scaleY(0.4);
    transform: translateY(100%);
  }
  80%{
    transform: scaleY(0.8);
    transform: translateY(0%);
  }
  100%   { 
      opacity: 1;
      transform: scaleY(1);
}
}

@keyframes rot{
  0%{
    transform: rotate(-1turn);
  }
  100%{
    transform: rotate(1turn);
  }
}
  
@keyframes slid{
  0%{
    transform: translateX(0%);
  }
  
100%{
    transform: translateX(100%);
  }
}
