.header_logo{
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    & h1{
        padding-right: 3rem;
    }
    i{
        color: black;
    }
}


.liste{
        &__menu{
        @include card($color-back,  $bord: map-get($bord-rad, menu-card));
        text-align: left;
        z-index: 1;
        position: relative;
        top: -2.5rem;
    }
    & img{
        width: 100%;
        position: relative;
        z-index: -1;
    }
    & article{
        @include card($bord: map-get($bord-rad, card-card));
        height: 3rem;
        margin: .5rem;
        position: relative;
    }
}
.liste__text{
        padding: .5em .5rem;
        & span{
            font-weight: bold;
            position: absolute;
            z-index: 1;
            right: 0;
            &:active{
                & ::after{
                    content: "";
                    border-right: none;
                    border-radius: 0 20px 20px 0;
                    position: absolute;
                    z-index: -1;
                    background: $color-tertiary;
                    width: 40px;
                    height: 2.5rem;
                    padding:  .5em .5rem;
                    right: 0;
                    top: 0;
                }
            }
        }
}
.liste__check{
    span{
        &::after{
            position: absolute;
            right: 0;
            background: $color-tertiary;
            width: 40px;
            height: 2.5rem;
       }
    }
     i{
        font-size: 1.5rem;
        color: $color-base;
        right: 0;
    }
        

}
