$color-primary:#9356DC;
$color-secondary: #FF79DA;
$color-tertiary:  #99E2D0;
$color-shadow: #eaeaea;;
$color-back:  #f6f6f6;
$color-footer: #353535;
$color-base: #ffffff;

$height: (10rem, 15rem, 20rem);
$color-card: $color-back, $color-base, $color-shadow;
$bord-rad: (0, 20px, 50%);