$color-primary:#9356DC;
$color-secondary: #FF79DA;
$color-tertiary:  #99E2D0;
$color-shadow: #dbdbdb;
$color-back:  #f6f6f6;
$color-footer: #272727;
$color-base: #ffffff;
$color-card: $color-back, $color-base, $color-shadow;
$color-deg: linear-gradient( $color-primary, $color-secondary);
$color-shadow-dark: darken($color-shadow,15%);

$height: (10rem, 15rem, 20rem);
$bord-rad:(
back-card: 0,
menu-card: 30px 30px 0 0 ,
card-card: 20px 20px 20px 20px);
$shadow:  .20rem .20rem 1rem $color-shadow;
$padding: .8rem 1.2rem;
$size: .2rem;
$bg-shadow: .40rem .40rem 1rem $color-shadow-dark;

$breakpoints: (
  tablet: 992px,
  destock: 1200px
);

$num-cards: 10;
$anim-dur: 2000ms;
$anim-delay: $anim-dur / $num-cards;