$color-primary:#9356DC;
$color-secondary: #FF79DA;
$color-tertiary:  #99E2D0;
$color-shadow: #dbdbdb;
$color-back:  #f6f6f6;
$color-footer: #353535;
$color-base: #ffffff;
$color-card: $color-back, $color-base, $color-shadow;
$color-deg: linear-gradient( $color-primary, $color-secondary);


$height: (10rem, 15rem, 20rem);
$bord-rad:(
back-card: 0,
menu-card: 30px 30px 0 0 ,
card-card: 20px 20px 20px 20px);
$shadow:  .25rem .25rem 1rem $color-shadow;
$padding: .8rem 1.2rem;
$size: .2rem;
$bg-shadow: .5rem .5rem 1rem darken($color-shadow,10%);

$breakpoints: (
  tablet: 992px,
  destock: 1200px
);

$num-cards: 10;
$anim-dur: 2000ms;
$anim-delay: $anim-dur / $num-cards;