$color-primary:#9356DC;
$color-secondary: #FF79DA;
$color-tertiary:  #99E2D0;
$color-shadow: #eaeaea;;
$color-back:  #f6f6f6;
$color-footer: #353535;
$color-base: #ffffff;
$color-card: $color-back, $color-base, $color-shadow;
$color-deg: linear-gradient($color-secondary, $color-primary 105%);

$height: (10rem, 15rem, 20rem);
$bord-rad: (0, 20px, 50%);
$shadow: .15rem .15em .8rem .1rem;