$color-primary:#9356DC;
$color-secondary: #FF79DA;
$color-tertiary:  #99E2D0;
$color-shadow: #dddddd;
$color-back:  #f6f6f6;
$color-footer: #353535;
$color-base: #ffffff;
$color-card: $color-back, $color-base, $color-shadow;
$color-deg: linear-gradient( $color-primary, $color-secondary);

$height: (10rem, 15rem, 20rem);
$bord-rad:(
back-card: 0,
menu-card: 30px 30px 0 0 ,
card-card: 20px 20px 20px 20px);
$shadow:  2px 2px 15px 2px $color-shadow;
$padding: .8rem 1.2rem;
$size: 5px;
$bg-shadow: calc($shadow * $size), darken($color-shadow,10%);

$breakpoints: (
  tablet: 992px,
  destock: 1200px
);

$num-cards: 9;
$anim-dur: 1800ms;
$anim-delay: $anim-dur / $num-cards;